            <section id='about'>
                <div class='row'>
                    <div class='col-md-5 gx-4 mb-4'>
                        <h3><strong>Welcome to Gift List!</strong></h4>
                        <p class='text-muted'>Giving of our time, resources and energy connects us to our loved ones and broader community. Equally important, studies show that giving makes us <a href='https://greatergood.berkeley.edu/article/item/5_ways_giving_is_good_for_you' target='_blank'>happier and healthier</a>!</p>

                        <p><strong>We LOVE our Community</strong></p>
                        <p class='text-muted'>
                            We are here for you as you navigate how to share of yourself thoughtfully. Planning ahead and keeping track of giving ideas can feel like a chore. We take on keeping track of your gift ideas so that you can focus on what (and who) you love most.</p>
                    
                    <p><strong>Let us do something for you!</strong></p>
                        <p class='text-muted'>
                            We have created this app as a gift to our community. Using Gift List, you can track your:</p>
                            <ul class='text-muted'>
                                <li>Gift Ideas</li>
                                <li>Recipients</li>
                                <li>Purchases/Gifts Completed</li>
                            </ul>
                            <p class='text-muted'>
                            Sign up for a <strong>FREE</strong> account today!</p>
                    
                    </div>

                    <div class='col-md-7 gx-5'>
                    <figure class='figure-image'>
                    <img src='images/debby-hudson-VO7p_CgTylQ-unsplash.jpg' alt='Photo by Debby Hudson on Unsplash' class='img-fluid rounded mb-3'/>
                    <a href='#!'></a>
                    </figure>
                    </div>

                </div>
            </section>