            <section id='about'>
                <div class='row'>
                    <div class='col-md-5 gx-4 mb-4'>
                        <h3><strong>Welcome to Gift List!</strong></h4>
                        <p class='text-muted'>Even trees need a friend. We all need friends. Just think about these things in your mind and drop em' on canvas. Let your imagination be your guide. This is probably the greatest thing that's ever happened in my life. Let your heart be your guide. Let's give him a friend too. Everybody needs a friend.</p>

                        <p><strong>Description</strong></p>
                        <p class='text-muted'>
                            Even trees need a friend. We all need friends. Just think about these things in your mind and drop em' on canvas. Let your imagination be your guide. This is probably the greatest thing that's ever happened in my life. Let your heart be your guide. Let's give him a friend too. Everybody needs a friend.</p>
                    </div>

                    <div class='col-md-7 gx-5'>
                    <figure class='figure-image'>
                    <img src='images/debby-hudson-VO7p_CgTylQ-unsplash.jpg' alt='Photo by Debby Hudson on Unsplash' class='img-fluid rounded mb-3'/>
                    <a href='#!'></a>
                    </figure>
                    </div>

                </div>
            </section>