<div class="row">
  <div class="col-md-6" style="border: solid 2px">
    <h2>Sign in</h2>

    <form class="form login-form">
      <div class="form-group">
        <div style="height: 20px;"></div>
        <div style="height: 20px;"></div>
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6" style="border: solid 2px">
    <h2>Signup</h2>

    <form class="form signup-form">
      <!--CMB I think we aren't using name in the model any more?-->
      {{! <div class="form-group">
        <label for="firstName-signup">First Name:</label>
        <input class="form-input" type="text" id="firstName-signup" />
      </div> }}
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>

{{! take out name for signup }}