<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-5'>
      <h2>Add New Gift</h2>
      <form class='form newGiftForm'>
        <div class='form-group'>
          <label for='email-login'>Recipient</label>
          <input type='text' class='form-control' id='newgiftGiftee' placeholder='Recipient Name'>
        </div>
        <div class='form-group'>
          <label for='password-login'>Description</label>
          <input type='text' class='form-control' id='newgiftDescription' placeholder='Gift Description'>
        </div>
        <button class='btn btn-primary submit' id='giftSave' type='submit'>Save</button>
        <button class='btn btn-primary submit' id='giftCancel' type='submit'>Cancel</button>
      </form>
    </div>
  </div>
</div>

<script src="./js/newGift.js"></script>