:root {
    --c--black: #000000;
    --c-white: #ffffff;
    --c-goldenrod: #f3b43f;
    --c-dgoldenrod: #e4a42e;
    --c-burlywood: #f0c881;
    --c-dtomato:rgb(200, 38, 5);
    --c-tomato: #eb2a03;
    --c-ltomato: #f32c04;
    --c-grey: #808080;
    --c-dblue: #14213d;
    --c-ddblue:#060b14;
    --c-ddcyan: #10686d;
    --c-dcyan: #1d777e;
    --c-lcyan: #23868d;
    --c-llneutral: #fffdfa;
    --c-lneutral: #f0e8da;
    --c-neutral: #ded7c9;
    --c-dneutral: #c7c0b3;
    --c-maroon: #862f03;
    --c-lmaroon: #f1b596;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--c-lneutral);
    font-family: 'Poppins', sans-serif;
    color: var(--c-dblue);
    height: 100vh;
}

main {
    padding-top: 12rem;
}

.giftlist-navbar {
    background-image: linear-gradient(var(--c-goldenrod), var(--c-burlywood));
    box-shadow: 8px 10px 20px var(--c-dneutral);
}

h3, h4, h5 {
    font-family: 'Roboto', serif;
}

.cmb-fa {
    text-decoration: none;
    color: var(--c-lneutral);
    font-size: 1.5em;
}

.cmb-fa:hover {
    text-decoration: none;
    color: var(--c-llneutral);
    text-shadow: 8px 10px 10px var(--c-ddblue);
    transform: scale(1.04);
}

/* .card {
    border-radius: 4px;
    background: var(--c-neutral);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .4s transform cubic-bezier(.155,1.105,.295,1.12),.4s box-shadow,.4s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    opacity: 0.7;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    opacity: 1;
} */

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    color: var(--c-white) !important;
    background-color: var(--c-tomato);
    border: .1em solid var(--c-dtomato);
    border-radius: 10px;
    box-shadow: 8px 10px 10px var(--c-goldenrod);
    margin: .5em 1em 1em 0;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--c-ltomato);
    border: .1em solid var(--c-tomato);
    box-shadow: 8px 10px 10px var(--c-dgoldenrod);
    transform: scale(1.04);
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
    background-color: var(--c-neutral);
    border: .1em solid var(--c-dneutral);
    border-radius: 10px;
    box-shadow: 8px 10px 10px var(--c-goldenrod);
    margin: .5em 1em 1em 0;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--c-lneutral);
    border: .1em solid var(--c-neutral);
    box-shadow: 8px 10px 10px var(--c-dgoldenrod);
    transform: scale(1.04);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.cmb-contact {
    background-color: var(--c-dblue);
    color: var(--c-lneutral);
}

.cmb-madeforyou {
    background-color: var(--c-tomato);
    color: var(--c-lneutral);
}

/*MediaQuery for Mobile*/
/* @media screen and (max-width: 480px) {
    body {
        background-color: var(--c-ddblue);
        color: var(--c-llneutral);
    }

    main {
        padding-top: 6rem;
    }

    h4 {
        color: var(--c-dblue);
    }

    .cmb-fa {
        text-decoration: none;
        color: var(--c-llneutral);
        font-size: 1.5em;
    }

    .cmb-fa:hover {
        color: var(--c-dpink);
        text-shadow: 8px 10px 10px var(--c-blue);
    }

    .text-muted {
        color: var(--c-llneutral) !important;
    }

    .giftlist-navbar {
        background-image: linear-gradient(var(--c-lneutral), var(--c-neutral));
        box-shadow: none;
    }

    .card-title,
    .card-text {
        color: var(--c-dblue);
    }
    
    .card {
        border-radius: 4px;
        background: var(--c-neutral);
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition:  none;
        opacity: 1;
    }
            
    .card:hover {
        transform: scale(1.03);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        opacity: 1;
    }
    
    footer .cmb-fa {
        text-decoration: none;
        color: var(--c-ddblue);
        font-size: 1.5em;
    }
    
    footer .cmb-fa:hover {
        color: var(--c-dpink);
        text-shadow: 8px 10px 10px var(--c-taupe);
    }
} */
    
  /* @media screen and (max-width: 1173px) {
    body {
      margin: 0 2%;
    }
  }
  @media screen and (max-width: 1022px) {
    body {
      margin: 0 0%;
    }
  }
  @media screen and (max-width: 1012px) {
    body {
      margin: 0 2%;
    }
    .about,
    .projects {
      flex-direction: column;
      padding: 2% 2% 2% 2%;
    }
    .h2, {
      display: inline-block;
      text-align: center;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: left;
      padding: 2% 0 2% 0;
      width: 100%;
    }
  } */
  
  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict
  320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more —  Extra large screens, TV*/
  